.productContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
}

.product-name {
    font-size: 2rem;
    margin-top: 0;
    font-weight: bold;
}

.product-description {
    font-size: 1.2rem;
    margin: 10px 0;
}

.product-price {
    font-size: 1.2rem;
    margin: 10px 0;
    font-weight: bold;
}

.input-group {
    margin-bottom: 10px;
}

.product-quantity {
    width: 40px;
    text-align: center;
}

.minus-btn,
.plus-btn {
    padding: 0.375rem 0.75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.minus-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.plus-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.add-to-cart-btn {
    cursor: pointer;
}

.back-btn {
    cursor: pointer;
}

.card {

    text-align: center;
    background-color: #fafafa;
    border: var(--border-hover);

}

img {

    max-width: 100%;
    max-height: 550px;

}

.addToCartBtn {
    font-size: 1.7rem;
    padding-top: 1rem;
    color: var(--main-color);
}